/*!
 * kmom01.css
 */

 .rm-navbar {
     position: relative;
 }
 
 .rm-navbar ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 .rm-small {
     display: none;
     float: right;
 }
 
 a.rm-button {
     display: inline-block;
     color: inherit;
     background-color: transparent;
     outline: 0;
 }
 
 a.rm-button:active {
     color: inherit;
     background-color: transparent;
 }
 
 a.rm-button .rm-button-face-1 {
     position: absolute;
     transition: color .1s ease;
 }
 
 a.rm-button .rm-button-face-2 {
     position: relative;
     color: transparent;
     transition: color .1s ease;
 }
 
 a.rm-button.rm-clicked {
     color: #9FB129;
     background-color: transparent;
 }
 
 a.rm-button.rm-clicked .rm-button-face-1 {
     color: transparent;
 }
 
 a.rm-button.rm-clicked .rm-button-face-2 {
     z-index: 2;
     color: inherit;
 }
 
 .rm-default li {
     display: inline-block;
 }
 
 .rm-default li li {
     display: block;
     min-width: 10em;
 }
 
 .rm-default a {
     display: block;
     text-decoration: none;
     white-space: nowrap;
     padding: 1em;
     outline: 0;
 }
 
 .rm-default ul {
     position: absolute;
     z-index: 9999;
     left: -9999px;
 }
 
 .rm-default ul.rm-show-submenu {
     left: 0;
 }
 
 .rm-default ul li {
     box-shadow: 0 0 1px rgba(0, 0, 0, .4);
 }
 
 .rm-default ul ul {
     left: -9999px;
 }
 
 .rm-desktop ul {
     background-color: inherit;
 }
 
 .rm-desktop li {
     position: relative;
 }
 
 .rm-desktop li a:hover,
 .rm-desktop li.current-menu-item a {
     text-decoration: underline;
 }
 
 .rm-desktop li a {
     color: inherit;
     background-color: inherit;
 }
 
 .rm-desktop li a:hover {
     color: inherit;
     background-color: inherit;
 }
 
 .rm-desktop li:hover>ul {
     left: 0;
 }
 
 .rm-desktop li:hover>ul.rm-submenu-level-1 {
     left: auto;
     left: 30%;
 }
 
 .rm-desktop li .rm-submenu-button {
     display: none;
 }
 
 .rm-mobile {
     width: 100%;
     box-shadow: 0 0 6px rgba(0, 0, 0, .4);
     background-color: #444;
     color: #fff;
 }
 
 .rm-mobile a {
     color: inherit;
 }
 
 .rm-mobile li {
     display: block;
     box-shadow: 0 0 1px rgba(255, 255, 255, .4);
 }
 
 .rm-mobile li.rm-submenu-open>ul {
     position: relative;
     left: 0;
 }
 
 .rm-max.rm-navbar {
     position: absolute;
     top: 16px;
     right: 24px;
 }
 
 .rm-max .rm-small {
     display: block;
 }
 
 .rm-max .rm-small .rm-button {
     color: inherit;
 }
 
 .rm-max .rm-small .rm-button.rm-clicked {
     color: #9FB129;
     position: fixed;
     top: 16px;
     right: 24px;
     z-index: 999;
 }
 
 .rm-max .rm-mobile {
     transition: all .15s linear;
     position: fixed;
     z-index: 998;
     top: 0;
     transform: translateX(100%);
     width: 500px;
     max-width: 500px;
     height: 500px;
     overflow-y: auto;
     padding-top: 72px;
     background-color: #131313;
 }
 
 .rm-max .rm-mobile li a:active {
     background-color: transparent;
 }
 
 .rm-max .rm-mobile.rm-clicked {
     transform: translateX(0);
 }
 
 .rm-max .rm-mobile a:hover {
     text-decoration: underline;
 }
 
 .rm-max .rm-mobile .rm-submenu-button {
     float: right;
     box-shadow: 0 0 1px rgba(255, 255, 255, .4);
     background-color: #444;
     padding: 8px 24px;
     margin-right: 8px;
     margin-top: 10px;
     border-radius: 5px;
     position: relative;
     z-index: 1;
 }
 
 .rm-max .rm-mobile .rm-submenu-button:after {
     content: "\25BC";
 }
 
 .rm-max .rm-mobile .rm-submenu-button:hover {
     text-decoration: none;
     background-color: #ccc;
 }
 
 .rm-max .rm-mobile li ul {
     padding-left: 8px;
 }
 
 .rm-max .rm-mobile .rm-submenu-open>.rm-submenu-button:after {
     content: "\25B2";
 }
 
 .rm-max.rm-swipe-left .rm-mobile {
     left: 0;
 }
 
 .rm-max.rm-swipe-right .rm-mobile {
     right: 0;
 }


html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    background-color: #3d322d;
}

body {
    margin: 0;
    padding: 0;
    color: #3d322d;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

article {
    margin-bottom: 72px;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    color: #a14102;
    font-size: 2em;
    margin: .67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    color: #ea5b0c;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

img {
    max-width: 100%;
    border-style: none;
}

.site-logo {
    display: none;
}

.site-logo-text-icon {
    display: none;
}

.site-logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #ea5b0c!important;
}

.author-byline {
    border: 1px solid #ccc;
    margin-bottom: 46px;
}
.author-byline p {
    display: inline-block;
    vertical-align: bottom;
}

.author-byline::after {
    content: "";
    display: block;
    clear: both;
}

.author-byline .figure.figure.left {
    margin-left: 20px;
}

.rm-navbar li {
    list-style-type: none;
    padding-right: 20px;
}

.figure.figure.right {
    float: right;
}

.figure.figure.left {
    float: left;
}
.outer-wrap {
    background-color: #fff;
}

.outer-wrap-header {
    background-color: #fff;
    height: 48px;
    margin-bottom: 12px;
}

.outer-wrap-footer {
    background-color: #3d322d;
    padding-top: 0px;
    padding-bottom: 0px;
}

.outer-wrap-flash {
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
}

.inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}

.inner-wrap-main {
    padding-bottom: 48px;
}

.inner-wrap-footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
}


.footer-column-wrapper {
    display: inline;
    color: #ddd;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footer-column-wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.footer-column {
    float: left;
    width: 30%;
    margin-left: .5%;
    margin-right: .5%;
}

.column.footer-column{
    padding-top: 5px;
    padding-bottom: 0px; 
    margin-bottom: 0px;
}

.footer-column-x {
    padding-bottom: 0px;
    padding-right: 1em;    
    padding-left: 1em;
}

.footer-column-1 {
    padding-left: 2em;
}

.footer-column-2 {
    padding-left: 2em;
    padding-right: 2em;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.footer-column-3 {
    padding-left: 2em;
}

.wrap-sidebar {
    margin-bottom: 48px;
}


.wrap-sidebar .block {
    color: #000;
    /* border: 1px solid #184000; */
    background-repeat: no-repeat;
    background-position: right top;
}

.wrap-sidebar .block h4 {
    /* border-top: 1px solid #ccc; */
    /* background-image: linear-gradient(to right,#fff,#ccc); */
    border-top:1px solid #c4268c;
    position:relative;
    margin-bottom: -10px;
}

.wrap-sidebar .block h4:first-child:before {
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    background:linear-gradient(to left, #ea5b0c, #3d322d);
    top:-1px;
    left:0;
}

.wrap-sidebar .block h4:first-child:after{
    content:'';
    margin: 0px;
}

.wrap-sidebar .block p {
    color: #000;
    background-blend-mode: lighten;
}

.block {
    margin-bottom: 10px;
    margin-top: 30px;
}

.row {
    display: block;
    width: 100%;
    margin-left: -.5%;
    margin-right: -.5%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.column {
    height: 100%;
}

.site-footer {
    color: #aaa;
    text-align: center;
    padding-bottom: 20px;
}

.region-header-col-1 {
    display: inline;
    float: left;
    width: 20%;
    margin-left: .5%;
    margin-right: .5%;
}

.region-header-col-2 {
    display: inline;
    float: left;
    width: 70%;
    margin-left: .5%;
    margin-right: .5%;
}

.region-header-col-3 {
    display: inline;
    float: left;
    width: 7%;
    margin-left: .5%;
    margin-right: .5%;
}

.region-flash {
    display: inline;
    float: left;
    width: 100%;
    margin-left: .5%;
    margin-right: .5%;
}

.region-main {
    display: inline;
    /* float: left; */
    width: 75%;
    margin-left: .5%;
    margin-right: .5%;
    margin-left: 10%;
}

.region-sidebar-right {
    margin-left: 5%;  
}

.region-sidebar-right .block {
    display: block;
    padding: 10px;
    position: relative;
    -webkit-animation: rightsidebarmove; /* Safari 4.0 - 8.0 */
    animation: rightsidebarmove;
    -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
    animation-duration: 3s; 
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rightsidebarmove {
    from {right: -500px;}
    to {right: 0px;}
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes rightsidebarmove {
    from {right: -500px;}
    to {right: 0px;}
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.region-sidebar-left {
    width:20%
}
.region-sidebar-left .block {
    display:block;
    padding:10px;
    position:relative;
    -webkit-animation:leftsidebarmove;
    animation:leftsidebarmove;
    -webkit-animation-duration:2s;
    animation-duration:2s;
    animation-timing-function:ease-out;
    -webkit-animation-timing-function:ease-out
}
@-webkit-keyframes leftsidebarmove {
    from {left:-200px}
    to {left:0}
    0% {
        display:none;
        opacity:0
    }
    1% {
        display:block;
        opacity:0
    }
    100% {
        display:block;
        opacity:1
    }
}
@keyframes leftsidebarmove {
    from {left:-200px}
    to {left:0}
    0% {
        display:none;
        opacity:0
    }
    1% {
        display:block;
        opacity:0
    }
    100% {
        display:block;
        opacity:1
    }
}

.region-sidebar-left {
    display: inline;
    float: left;
    width: 30%;
    margin-left: .5%;
    margin-right: .5%;
}

.region-sidebar-right {
    display: inline;
    /* float: left;
    width: 30%;
    margin-left: .5%;
    margin-right: .5% */
}

.region-sidebar-left, .region-sidebar-right {
    display: inline;
    float: left;
    width: 28.125%;
    margin-left: .52083333%;
    margin-right: .52083333%;
}

.region-main.has-sidebar-right {
    display: inline;
    float: left;
    width: 65%;
    margin-right: .5%;
    margin-left: .5%;
}

.region-main.has-sidebar-left {
    display: inline;
    float: left;
    width: 65%;
    margin-right: .5%;
    margin-left: .5%;
}

.region-footer {
    background-color: #3d322d;
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: .52083333%;
    margin-right: .52083333%;
}
